@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/*<!--comentario-->*/
*{
	padding: 0px;
	margin: 0px;
}
/****************************************************************************************************/
header{
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	border: 0;
}
.contenedor{
	width: 100%;
	height: 8vh;
	background: #000;
	z-index:100; 
	position: fixed;
	margin-bottom: 0px;	
}

/*MENU PARA CELULAR*/
#menuprincipal{
 	display: none;						/*ocultamos la caja checked*/
 }
header .contenedor label{
 	float: right;
 	font-size: 30px;
 	margin: 5px 10px;
 	padding: 10px 10px;
 	color: #fff;
 	cursor: pointer;					/*aparece una mano si se pasa sobre el*/
 }
.contenedor .menu{
 	position: absolute;
 	top: 7vh;							/*depende del tamanio del header*/
 	left: 0;
 	width: 28%;
 	height: 100%;						/*ocupa siempre el 100 de alto de la ventana*/
 	background: rgba(51,51,51,0.95);
 	transition: all 0.5s;
 	transform: translateX(-100%);		/*trasladar el menu de manera horizontal a la izquierda*/
 }
 /*MENU NAVEGACION ESCRITORIO*/
.contenedor .menu a{
	display: block;
	color: #000;
	font-weight: bold;					/*negrita*/
	height: 8vh;						/*dependel del header*/
	text-decoration: none;			
	padding: 15px;
	background-color: #000;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	border-bottom: 2px solid rgba(255,255,255,0.3);
}
.menu a:hover{
	background: rgba(255,255,255,0.3);
}
/*cuando haga clic en el icono label selecciona el .menu*/
#menuprincipal:checked ~ .menu{
	transform: translateX(0%); /*trasladar el menu de manera horizontal*/
}

/**/
.logo{
	width: 80%;
	margin-left: 10%;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}
.logo h3{
	font-size: 50px;
	line-height: 68px;
	color: #000;
	font-weight: 700;
}
span{
	background: #000;
	color: #fff;
	border-radius: 5px;
	padding-left: 5PX;
	padding-right: 5PX;
}
/****************responsive**********/
@media	(min-width: 1024px){
	.contenedor .menu{
		background: #4682B4;				/*mismo color que el header*/
		position: static;
		width: auto;
		height: auto;
		transform: translateX(0%);
		float: right;
		display: flex;						/*alinea todo de forma horizontal*/
	}
	.contenedor .menu a{
		border: none;
	}
	header .contenedor label{
 		display: none;	

 	}
}

/*************************************************************************************************/
.formato-carrusel{
	padding-top: 0px;
}
.descripcion{
	width: 85%;
	height: auto;
	margin-top: 2%;
	margin-left: 7.5%;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	border: 2px dotted; 
	padding: 15px;
}
.descripcion h2{
	font-size: 30px;
}
.descripcion p{
	text-align: center;
	font-size: 20px;
}
.ruta{
	width: 85%;
	margin-left: 7.5%;
	text-align: center;
}
.ruta h3{
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
}
.ruta p{
	font-family: 'Oswald', sans-serif;
}
/**************************************************************************************************/
.pie{
	width: 100%;
	height: 6vh;
	background: #000;
	float: right;
	padding-left: 1vw;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
i{
	padding-top: 5px;
	color: #fff;
	margin-right: 10px;
}
.pie p{
	float: right;
	color: #fff;
	font-style: italic;
	padding-top: 1vh;
	margin-right: 5px;
	font-size: 15px;
}
/*********responsive general*******/
@media	(max-width: 576px){
	.logo{
		padding-top: 18%;
		text-align: center;
	}
	.logo h3{
	font-size: 35px;
	line-height: 58px;
	color: #000;
	font-weight: 700;
	padding-bottom: 0px;
	margin-bottom: 0px;
	/*padding-left: 20%;*/
	}
	p,span{
		/*text-align: center;*/
		font-size: 18px;
		padding-top: 0px;
		margin-top:0px;
	}
	.contenedor .menu a{
		font-size: 17px;
	}
	.formato-carrusel{
		padding-top: 0px;
	}
	.descripcion{
		width: 95%;
		margin-left: 2.5%;
	}
	.descripcion p{
	text-align: center;
	font-size: 15px;
	}
	.ruta{
	width: 100%;
	height: 30%;
	margin-left: 0px;
	}
	.pie{
	width: 100%;
	height: 10vh;
	background: #000;
	padding-bottom: 0px;
	margin-bottom: 0px;
	text-align: center;
	}
	.pie p{
	float: none;
	font-size: 14px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	}
}
/********responsive para todos los dispositivos******/
@media (min-width:576px) {
	.logo{
		padding-top: 9.5%;
		text-align: center;
	}
}
@media	(min-width: 768px){
	.logo{
		padding-top: 10%;
		text-align: center;
	}
}
@media	(min-width: 992px){
	.logo{
		padding-top: 8%;
		text-align: center;
	}
}
@media	(min-width: 1255px){
	.logo{
		padding-top: 7%;
		text-align: center;
	}
}
@media	(min-width: 1400px){
	.logo{
		padding-top: 5%;
		text-align: center;
	}
}